body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select{
    margin: 0;padding: 0;font-family: 0;
}
#header{
    background: #FFFFFF;
    box-shadow: 0 2px 12px 0 rgba(208,214,226,0.50);
    padding-bottom: 80px;
}
#able{
    position: absolute;
    left: 150px;
    top: 20px;
    font-family: LucidaGrande;
    font-size: 24px;
    color: #005FB3;
    letter-spacing: 0.53px
}
#sy{
    position: absolute;
    left: 679px;
    top: 22px;
    font-family: MicrosoftYaHei;
font-size: 16px;
color: #4F5362;
letter-spacing: 1.37px;
}
#fb{
    position: absolute;
    left: 782px;
    top: 22px;
    font-family: MicrosoftYaHei;
font-size: 16px;
color: #4F5362;
letter-spacing: 1.37px;
}
#hd{
    position: absolute;
    left: 887px;
    top: 22px;
    font-family: MicrosoftYaHei;
    font-size: 16px;
    color: #4F5362;
    letter-spacing: 1.37px;
}
#home{
    position: absolute;
    left: 682px;
    top: 47px;
    font-family: LucidaGrande;
font-size: 10px;
color: #4F5362;
letter-spacing: 0;
}
#publish{
    position: absolute;
    left: 782px;
    top: 47px;
    font-family: LucidaGrande;
    font-size: 10px;
    color: #4F5362;
    letter-spacing: 0;
}
#activity{
    position: absolute;
    left: 886px;
    top: 47px;
    font-family: LucidaGrande;
    font-size: 10px;
    color: #4F5362;
    letter-spacing: 0;
}
#picture{
    position: absolute;
    left: 1068px;
    top: 29px;
    font-family: MicrosoftYaHei;
font-size: 12px;
color: #4F5362;
}
#picture1{
    position: absolute;
    left: 1021px;
    top: 21px;
}
#strip{
    position: absolute;
    left: 366px;
    top: 110px;
    background: #FFFFFF;
box-shadow: 0 1px 10px 0 rgba(208,214,226,0.63);
    width: 774px;
    height: 42px;
}
#firm{
    position: absolute;
    left: 30px;
    top: 12px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #005FB3;
letter-spacing: 0;
}
#underline{
    position: absolute;
    left: 30px;
    top: 40px;
    background: #005FB3;
    width: 56px;
    height: 3px;
}
#accountnumber{
    position: absolute;
    left: 161px;
    top: 110px;
    font-family: MicrosoftYaHei;
font-size: 16px;
color: #222222;
    width: 64px;
    height: 21px;
}
#firm1{
    position: absolute;
    left: 160px;
    top: 150px;
    background: #FFFFFF;
box-shadow: 0 2px 10px 0 #D0D6E2;
border-radius: 2px;
    width: 180px;
    height: 61px;
}
#rectangle{
    position: absolute;
    left:0px;
    top:0px;
    width: 4px;
    height: 61px;
}
#firm11{
    position: absolute;
    left: 56px;
    top: 21px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #005FB3;
    width: 56px;
    height: 19px;
}
#arrows{
    position: absolute;
    left: 166px;
    top: 26px;
    transform: rotate(-360deg);
background: #005FB3;
    width: 6px;
    height: 10px;
}
#firmpicture{
    position: absolute;
    left: 199px;
    top: 235px;
    background: #4F5362;
    width: 14px;
    height: 14px;
}
#certification{
    position: absolute;
    left: 216px;
    top: 232px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #4F5362;
    width: 56px;
    height: 19px;
}
#underline1{
    position: absolute;
    left: 160px;
    top: 271px;
    background:#EFF0F4;
    width: 180px;
    height: 1px;
}
#envelop{
    position: absolute;
    left: 198px;
    top: 297px;
    background: #4F5362;
    width: 14px;
    height: 14px;
}
#underline2{
    position: absolute;
    left: 160px;
    top: 332px;
    background:#EFF0F4;
    width: 180px;
    height: 1px;
}
#information{
    position: absolute;
    left: 216px;
    top: 293px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #4F5362;
width: 56px;
height: 19px;
}
#center{
    position: absolute;
    left: 366px;
    top: 167px;
    background: #FFFFFF;
box-shadow: 0 1px 10px 0 rgba(208,214,226,0.63);
    width: 774px;
    height: 2406px;
}
#logo{
    position: absolute;
    left: 21px;
    top: 80px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 96px;
    height: 24px;
}
#background1{
    position: absolute;
    left: 143px;
    top: 20px;
    background: #575859;
border-radius: 5px;
    width: 138px;
    height: 138px;
}
#camera1{
    position: absolute;
    left: 53px;
    top: 55px;
    width: 32px;
    height: 29px;
}
#backgroundlogo{
    position: absolute;
    left: 309px;
    top: 116px;
    background: #007AE6;
border-radius: 5px;
    width: 96px;
    height: 42px;
}
#selectlogo{
    position: absolute;
    left: 21px;
    top: 13px;
    font-family: MicrosoftYaHei;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 0.28px;
    width: 65px;
    height: 16px;
}
#caption{
    position: absolute;
    left: 143px;
    top: 164px;
    font-family: MicrosoftYaHei;
font-size: 12px;
color: #A8ACB9;
letter-spacing: 0.28px;
    width: 506px;
    height: 16px;
}
#firmname{
    position: absolute;
    left: 22px;
    top: 239px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 86px;
    height: 24px;
}
#firmstrip{
    position: absolute;
    left: 128px;
    top: 230px;
    background: #FFFFFF;
border: 3px solid #007AE6;
box-shadow: 0 5px 11px 1px #D0D6E2;
border-radius: 5px;
    width: 400px;
    height: 42px;
}
#firmword{
    position: absolute;
    left: 20px;
    top: 9px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 140px;
    height: 21px;
}
#firmword1{
    position: absolute;
    left: 128px;
    top: 278px;
    font-family: MicrosoftYaHei;
font-size: 12px;
color: #A8ACB9;
letter-spacing: 0.28px;
    width: 271px;
    height: 16px;
}
#firmproperty{
    position: absolute;
    left: 21px;
    top: 563px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 79px;
    height: 24px;
}
#businesslicense{
    position: absolute;
    left: 20px;
    top: 401px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 116px;
    height: 24px;
}
#background2{
    position: absolute;
    left: 163px;
    top: 344px;
    background: #575859;
border-radius: 5px;
    width: 138px;
    height: 138px;
}
#camera2{
    position: absolute;
    left: 53px;
    top: 55px;
    width: 32px;
    height: 29px;
}
#backgroundlicense{
    position: absolute;
    left: 329px;
    top: 440px;
    background: #007AE6;
border-radius: 5px;
    width: 96px;
    height: 42px;
}
#selectlicense{
    position: absolute;
    left: 11px;
    top: 13px;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0.28px;
    width: 74px;
    height: 16px;
}
#caption1{
    position: absolute;
    left: 163px;
    top: 488px;
    font-family: MicrosoftYaHei;
font-size: 12px;
color: #A8ACB9;
letter-spacing: 0.28px;
    width: 371px;
    height: 16px;
}
#backgroundproperty{
    position: absolute;
    left: 126px;
    top: 554px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 280px;
    height: 42px;
}
#internet{
    position: absolute;
    left: 20px;
    top: 9px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 70px;
    height: 21px;
}
#arrows1{
    position: absolute;
    left: 256px;
    top: 18px;
    transform: rotate(-270deg);
background: #005FB3;
    width: 12px;
    height: 8px;
}
#cancel1{
    position: absolute;
    left: 436px;
    top: 563px;
    width: 22px;
    height: 22px;
}
#firmscale{
    position: absolute;
    left: 20px;
    top: 655px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 79px;
    height: 24px;
}
#peoplenumber{
    position: absolute;
    left: 127px;
    top: 646px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 280px;
    height: 42px;
}
#peoplenumber1{
    position: absolute;
    left: 23px;
    top: 10px;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 73px;
    height: 21px;
}
#arrows2{
    position: absolute;
    left: 256px;
    top: 18px;
    transform: rotate(-270deg);
    background: #005FB3;
width: 12px;
height: 8px;
}
#cancel2{
    position: absolute;
    left: 437px;
    top: 657px;
    width: 22px;
    height: 22px;
}
#firmindustry{
    position: absolute;
    left: 21px;
    top: 745px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 130px;
    height: 24px;
}
#backgroundproperty1{
    position: absolute;
    left: 164px;
    top: 738px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 400px;
    height: 42px;
}
#internet1{
    position: absolute;
    left: 23px;
    top: 10px;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 70px;
    height: 21px;
}
#arrows3{
    position: absolute;
    left: 374px;
    top: 18px;
    transform: rotate(-270deg);
    background: #005FB3;
width: 12px;
height: 8px;
}
#cancel3{
    position: absolute;
    left: 594px;
    top: 748px;
    width: 22px;
    height: 22px;
}
#establishedtime{
    position: absolute;
    left: 21px;
    top: 839px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 79px;
    height: 24px;
}
#time{
    position: absolute;
    left: 126px;
    top: 830px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 280px;
    height: 42px;
}
#time1{
    position: absolute;
    left: 20px;
    top: 8px;
    font-family: LucidaGrande;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 86px;
    height: 21px;
}
#arrows4{
    position: absolute;
    left: 256px;
    top: 18px;
    transform: rotate(-270deg);
    background: #005FB3;
width: 12px;
height: 8px;
}
#cancel4{
    position: absolute;
    left: 436px;
    top: 839px;
    width: 22px;
    height: 22px;
}
#registeredfund{
    position: absolute;
    left: 20px;
    top: 931px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 79px;
    height: 24px;
}
#money{
    position: absolute;
    left: 127px;
    top: 922px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 280px;
    height: 42px;
}
#money1{
    position: absolute;
    left: 19px;
    top: 11px;
    font-family: LucidaGrande;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 106px;
    height: 21px;
}
#cancel5{
    position: absolute;
    left: 435px;
    top: 931px;
    width: 22px;
    height: 22px;
}
#firmposition{
    position: absolute;
    left: 20px;
    top: 1023px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 79px;
    height: 24px;
}
#trueinformation{
    position: absolute;
    left: 128px;
    top: 1014px;
    background: #EFF0F4;
border: 1px solid #FD7753;
border-radius: 5px;
    width: 236px;
    height: 42px;
}
#arrows5{
    position: absolute;
    left: 212px;
    top: 18px;
    transform: rotate(-270deg);
background: #005FB3;
    width: 12px;
    height: 8px;
}
#warning{
    position: absolute;
    left: 129px;
    top: 1060px;
    width: 12px;
    height: 12px;
}
#information1{
    position: absolute;
    left: 145px;
    top: 1059px;
    font-family: MicrosoftYaHei;
font-size: 10px;
color: #FB432A;
letter-spacing: 1.11px;
    width: 78px;
    height: 14px;
}
#chaoyang{
    position: absolute;
    left: 408px;
    top: 1014px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 236px;
    height: 42px;
}
#chaoyang1{
    position: absolute;
    left: 23px;
    top: 10px;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 42px;
    height: 21px;
}
#arrows6{
    position: absolute;
    left: 212px;
    top: 18px;
    transform: rotate(-270deg);
background: #005FB3;
    width: 12px;
    height: 8px;
}
#cancel6{
    position: absolute;
    left: 674px;
    top: 1023px;
    width: 22px;
    height: 22px;
}
#empty{
    position: absolute;
    left: 127px;
    top: 1092px;
    background: #EFF0F4;
border-radius: 5px;
    width: 627px;
    height: 42px;
}
#firmintro{
    position: absolute;
    left: 20px;
    top: 1261px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 79px;
    height: 24px;
}
#firmintro1{
    position: absolute;
    left: 128px;
    top: 1184px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 626px;
    height: 178px;
}
#firmintro2{
    position: absolute;
    left: 19px;
    top: 20px;
    font-family: MicrosoftYaHei;
font-size: 14px;
color: #5D616F;
letter-spacing: 0.34px;
    width: 588px;
    height: 111px;
}
#firmconnection{
    position: absolute;
    left: 20px;
    top: 1421px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 98px;
    height: 24px;
}
#englishname{
    position: absolute;
    left: 146px;
    top: 1412px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 280px;
    height: 42px;
}
#englishname1{
    position: absolute;
    left: 20px;
    top: 8px;
    font-family: LucidaGrande;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 83px;
    height: 21px;
}
#cancel7{
    position: absolute;
    left: 446px;
    top: 1421px;
    width: 22px;
    height: 22px;
}
#circle{
    position: absolute;
    left: 566px;
    top: 1423px;
    border: 2px solid #007AE6;
    width: 22px;
    height: 22px;
}
#circle1{
    position: absolute;
    left: 4px;
    top: 4px;
    background: #007AE6;
    width: 14px;
    height: 14px;
}
#men{
    position: absolute;
    left: 604px;
    top: 1421px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 19px;
    height: 24px;
}
#circle2{
    position: absolute;
    left: 653px;
    top: 1423px;
    border: 2px solid #007AE6;
    width: 22px;
    height: 22px;
}
#women{
    position: absolute;
    left: 691px;
    top: 1421px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width:19px ;
    height: 21px;
}
#circle3{
    position: absolute;
    left: 565px;
    top: 1467px;
    border: 2px solid #007AE6;
    width: 22px;
    height: 22px;
}
#circle4{
    position: absolute;
    left: 4px;
    top: 4px;
    background: #007AE6;
    width: 14px;
    height: 14px;
}
#firmshow{
    position: absolute;
    left: 607px;
    top: 1465px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 147px;
    height: 24px;
}
#telephonenumber{
    position: absolute;
    left: 20px;
    top: 1548px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 116px;
    height: 24px;
}
#regularnumber{
    position: absolute;
    left: 166px;
    top: 1549px;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 70px;
    height: 21px;
}
#number1{
    position: absolute;
    left: 244px;
    top: 1539px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 230px;
    height: 42px;
}
#number11{
    position: absolute;
    left: 20px;
    top: 8px;
    font-family: LucidaGrande;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 98px;
    height: 21px;
}
#cancel8{
    position: absolute;
    left: 494px;
    top: 1548px;
    width: 22px;
    height: 22px;
}
#circle5{
    position: absolute;
    left: 565px;
    top: 1548px;
    border: 2px solid #007AE6;
    width: 22px;
    height: 22px;
}
#firmshow1{
    position: absolute;
    left: 607px;
    top: 1546px;
    font-family: MicrosoftYaHei;
font-size: 18px;
color: #4F5362;
letter-spacing: 0.32px;
    width: 147px;
    height: 24px;
}
#mobilenumber{
    position: absolute;
    left: 166px;
    top: 1621px;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 70px;
    height: 21px;
}
#number2{
    position: absolute;
    left: 244px;
    top: 1611px;
    background: #FFFFFF;
border: 1px solid #007AE6;
border-radius: 5px;
    width: 230px;
    height: 42px;
}
#number22{
    position: absolute;
    left: 20px;
    top: 8px;
    font-family: LucidaGrande;
font-size: 14px;
color: #4F5362;
line-height: 21px;
    width: 98px;
    height: 21px;
}
#circle6{
    position: absolute;
    left: 565px;
    top: 1621px;
    border: 2px solid #007AE6;
    width: 22px;
    height: 22px;
}
#circle7{
    position: absolute;
    left: 4px;
    top: 4px;
    background: #007AE6;
    width: 14px;
    height: 14px;
}